.dashboard {
  margin: 0;
  padding: 16px;
}

.dashboard .terminal-header {
  align-items: center;
  background-color: var(--app-color);
  border-radius: 6px 6px 0 0;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 35px;
  padding: 0 10px;
}

.dashboard .terminal-header .title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
}

.dashboard .terminal-header .notes {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1rem;
  margin-left: 10px;
}

.dashboard .terminal-header .right-img {
  margin-left: auto;
  margin-right: 16px;
}

.dashboard .terminal-window {
  background-color: #ffffff;
  border: 1px solid var(--app-color);
  border-radius: 0 0 6px 6px;
  color: #333333;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-stretch: expanded;
  height: 200px;
  line-height: 1.6rem;
  margin: 0;
  padding: 10px;
  overflow-y: auto;
}

.blink-cursor {
  background-color: var(--app-color);
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .dashboard {
    padding: 10px;
  }
}
