.toolbar {
  align-items: center;
  background-color: var(--app-color);
  color: white;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  height: var(--toolbar-height);
  min-height: var(--toolbar-height);
  padding: 0 16px;
  width: 100%;
}

.toolbar .app-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  padding: 0 16px;
}

.toolbar .app-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  padding-top: 12px;
}

.toolbar .right-panel {
  margin-left: auto;
}

.toolbar .btn {
  background-color: #ffffff;
  color: var(--app-color);
}

@media (max-width: 600px) {
  .toolbar {
    padding: 0 10px;
  }

  .toolbar .app-title {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    padding: 0 10px;
  }

  .toolbar .app-subtitle {
    padding-top: 8px;
  }
}

@media (max-width: 550px) {
  .toolbar .app-subtitle {
    display: none;
  }
}
