:host {
  --toolbar-height: 70px;
  --footer-height: 35px;
  --app-color: rgb(0, 82, 204);
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
}

.main-body {
  height: calc(100vh - var(--toolbar-height) - var(--footer-height));
  min-height: calc(100vh - var(--toolbar-height) - var(--footer-height));
  margin: 0;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}
