.dashboard {
  margin: 0;
  padding: 16px 16px 0 16px;
}

.dashboard .terminal-header {
  align-items: center;
  background-color: var(--app-color);
  border-radius: 6px 6px 0 0;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 35px;
  text-indent: 10px;
}

.dashboard .terminal-header .title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
}

.dashboard .terminal-header .notes {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1rem;
  margin-left: 10px;
}

.dashboard .terminal-window {
  background-color: #ffffff;
  border: 1px solid var(--app-color);
  border-radius: 0 0 6px 6px;
  color: #333333;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-stretch: expanded;
  height: calc((var(--main-body-height) - 16px) / 2 - 51px);
  line-height: 1.6rem;
  margin: 0;
  padding: 10px;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .dashboard {
    padding: 10px 10px 0 10px;
  }

  .dashboard .terminal-window {
    height: calc((var(--main-body-height) - 10px) / 2 - 45px);
  }
}
