footer {
  background-color: var(--app-color);
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  height: var(--footer-height);
  min-height: var(--footer-height);
  margin: 0;
  padding: 5px 16px;
  width: 100%;
}

footer a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #e6f5a4;
  text-decoration: underline;
}

svg.material-icons:not(:last-child) {
  padding-right: 8px;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 5px;
  padding: 0 6px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  padding-right: 5px;
  width: 16px;
}
